# production | development
APP_ENV=production

# Clave SECRETA de Google reCAPTCHA. Nunca debe guardarse en Git.
RECAPTCHA_SECRET_KEY=

# Opcional: dominio esperado devuelto por Google, por ejemplo www.gtperutravel.com
RECAPTCHA_ALLOWED_HOST=www.gtperutravel.com